<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="Default" connectionString="Provider=SLXOLEDB.1;Persist Security Info=True;Initial Catalog=RICHIE;Data Source=CHRIS-LAPTOP;User ID=admin;Password=;Extended Properties=&quot;Port=1706;Log=On&quot; "/>
        <add name="UpdateHistoryCheckInItems.Properties.Settings.RichieConnectionString"
            connectionString="Data Source=localhost\Saleslogix;Initial Catalog=Richie;User ID=sysdba;Password=masterkey"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>